# Logs de Laravel
storage/logs/*
!storage/logs/.gitkeep

# También deberías incluir estos otros:
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.nova
.DS_Store
Thumbs.db

# Cache de Laravel
bootstrap/cache/*
!bootstrap/cache/.gitkeep